In [2]:
import pandas as pd
import random

df = pd.DataFrame({
#    'valor' : [random.random() for _ in range(10)]
})
df

      valor
0  0.683252
1  0.794039
2  0.257088
3  0.833398
4  0.846282
5  0.376957
6  0.400713
7  0.574424
8  0.178477
9  0.090538