In [1]:
import pandas as pd
import random

df = pd.DataFrame({
    'valor' : [random.random() for _ in range(10)]
})
df

      valor
0  0.612707
1  0.808335
2  0.252594
3  0.996190
4  0.946607
5  0.217349
6  0.988091
7  0.864344
8  0.202062
9  0.162934